---
layout: boilerplate
title: In-Salon Wifi | Toni&Guy
page: In-salon wifi 
description: In-salon wifi Toni&Guy
---

{% include navigation/content.html %}

<section class="content">
	<div class="row">
		<div class="large-push-6 large-6 x-large-9 columns background">
			<div class="background-image wifi"></div>
		</div>
		<div class="large-pull-6 large-6 x-large-3 columns copy">
			<div class="copy-holder">
				<div class="copy-wrapper">
					<h1>in-salon wifi</h1>
					<p>In-salon Wi-Fi has been provided by O2 for the last year and is a free, premium wifi service that is open to everyone regardless of the mobile network they are on. The peak figure in December 2014 was 375,000 clients using the network for an average of 23 minutes each. This represents more than ½ of our monthly clients in December.</p>

					<p>The in-browser banner, a new media format to market, is a fixed position format that overlays the user’s browsing experience with an IAB standard format banner. This provides the opportunity for a brand to be a constant presence in a user’s browsing experience.</p>

					<h2>Contacts</h2>
					<p class="height-controller">
						<a href="/contacts">Contact us</a> for a demo, or more information.
					</p>
					
					<div class="next-page">
						<p class="pagelink"><a href="/contacts">all contacts ></a></p>
					</div>
				</div>
				{% include navigation/navigation.html %}
			</div>
		</div>
	</div>
</section>
