---
layout: boilerplate
title: Toni&Guy Media
page: index
description: Toni&Guy Media
---

{% include navigation/content.html %}

<section class="content">
	<div class="row">
		<div class="large-push-6 large-6 x-large-9 columns background">
			<div class="background-image tv"></div>
		</div>
		<div class="large-pull-6 large-6 x-large-3 columns copy">
			<div class="copy-holder">
				<div class="copy-wrapper">
					<h1>Welcome</h1>
					<p class="height-controller">TONI&GUY media connects brands with our affluent, brand-loyal and stylish client base via a well-developed and proven communication inventory, all within a luxurious salon environment.</p>
					<div class="next-page">
						<p class="pagelink"><a href="/toni-and-guy-tv">toni&guy.tv ></a></p>
					</div>
				</div>
				{% include navigation/navigation.html %}
			</div>
		</div>
	</div>
</section>