---
layout: boilerplate
title: Rewards card e-shot
page: Rewards card e-shot
description: Rewards card e-shot
---

{% include navigation/content.html %}

<section class="content">
	<div class="row">
		<div class="large-push-6 large-6 x-large-9 columns background">
			<div class="background-image rewards"></div>
		</div>
		<div class="large-pull-6 large-6 x-large-3 columns copy">
			<div class="copy-holder">
				<div class="copy-wrapper">
					<h1>rewards card <span>e-shot</span></h1>
					<p>TONI&GUY Rewards Card gives clients the opportunity to accumulate Style Points to redeem against services and the chance to be sent incredible exclusive competitions from brands such as Elizabeth Arden, Folli Follie and Warehouse.</p>
					<h2>Key facts</h2>
					<ul class="height-controller">
						<li>Our database is 80,000 and growing. All emails are solus to the brand offering the competition, which gives fantastic stand out.</li>
						<li>Average click through through to open rate 21%</li>
						<li>Average competition redemption rate 4%</li>
					</ul>
					<div class="next-page">
						<p class="pagelink"><a href="/in-salon-wifi">in-salon wifi ></a></p>
					</div>
				</div>
				{% include navigation/navigation.html %}
			</div>
		</div>
	</div>
</section>