<nav>
	<ul class="menu">
		<div class="logo-holder-nav">
			<a href="/"><img src="{% if page.page == "index" %}{{site.data.links.path}}{% else %}{{site.data.links.childpath}}{% endif %}assets/images/logos/logo-horizontal.svg"/></a>
		</div>
		<li><a href="{% if page.page == "index" %}{{site.data.links.path}}{% else %}{{site.data.links.childpath}}{% endif %}">Welcome</a></li>
		<li><a href="{% if page.page == "index" %}{{site.data.links.path}}{% else %}{{site.data.links.childpath}}{% endif %}toni-and-guy-tv">Toni&Guy TV</a></li>
		<li><a href="{% if page.page == "index" %}{{site.data.links.path}}{% else %}{{site.data.links.childpath}}{% endif %}toni-and-guy-magazine">Toni&Guy Magazine</a></l1>
		<li><a href="{% if page.page == "index" %}{{site.data.links.path}}{% else %}{{site.data.links.childpath}}{% endif %}sampling-and-experiential">Sampling & experiential</a></l1>
		<li><a href="{% if page.page == "index" %}{{site.data.links.path}}{% else %}{{site.data.links.childpath}}{% endif %}rewards-card-and-e-shot">Rewards card e-shot</a></l1>
		<li><a href="{% if page.page == "index" %}{{site.data.links.path}}{% else %}{{site.data.links.childpath}}{% endif %}in-salon-wifi">In salon wi-fi</a></l1>
		<li><a href="{% if page.page == "index" %}{{site.data.links.path}}{% else %}{{site.data.links.childpath}}{% endif %}contacts">Contacts</a></l1>
	</ul>
</nav>