<head>
	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
	<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
	<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}"/>
	<meta property="og:image" content="{{site.data.links.path}}assets/images/logos/label.men_black.svg"/>
	<meta property="og:site_name" content="Toni&Guy Media"/>
	<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}"/>
	<script src="//use.typekit.net/bgp4fup.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>
	<meta charset="utf-8">
	<meta name="viewport" content="min-width, initial-scale=1">
	<link rel="stylesheet" href="{% if page.page == "index" %}{{site.data.links.path}}{% else %}{{site.data.links.childpath}}{% endif %}static/toni-and-guy-media.css">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"> 
</head>