@media #{$small-up} {
	html {
		height:100%;
		> body {
			height:100%;
			background:white;
			.display-small {
				display:block;
			}
			.display-large {
				display:none;
			}
			.height-controller {
				margin-bottom:40px;
			}
		}
	}
}

@media #{$medium-up} {}

@media #{$large-up} {
	html {
		> body {
			.display-small {
				display:none;
			}
			.display-large {
				display:block;
			}
		}
	}
}