@media #{$small-up} {
	h1 {
		text-transform: lowercase;
		display:inline-block;
		padding-bottom:15px;
		border-bottom:2px solid $black;
		color:$black;
		margin-bottom:40px;
	}
	h2 {
		display:inline-block;
		padding-bottom:5px;
		border-bottom:2px solid $black;
		color:$black;
		margin-bottom:20px;
		font-size: 1.5rem;
		padding-top: 20px;
	}
	p {
		color:$black;
		margin:auto;
		&.pagelink {
			display:inline-block;
			border-bottom:2px solid $black;

		}
		> a {
			color:$black;
			&:hover {
				color:$black;
			}
			&:focus {
				color:$black;
			}
		}
	}
}
@media #{$medium-up} {

}
@media #{$large-up} {

}